<div id="notes-listing">
	<div id="notes-listing-header">
		<div id="button-add"><a href="#" onclick="return openCreateNote();">+</a></div>
		<span>Notes</span>
	</div>
	
	<div id="notes-listing-body">
	    <%= render :partial => "list" %>		
	</div>
	<div id="notes-listing-new" style="display:none;">
			<a href="#" onclick="return closeCreateNote();">x</a>
			<% semantic_form_for @note do |form| %>
				<%= form.input :title, :required => true %>
				<%= form.buttons %>  
			<% end %>
	</div>
	
</div>



<div id="notes-content">

</div>

<script type="text/javascript">

    // opens the Create Note panel
    function openCreateNote(){
	    $('#notes-listing-new').css('display', 'block');
		$('#button-add').css('display', 'none');
	}
	
	// closes the Create Note panel
	function closeCreateNote(){
	    $('#notes-listing-new').css('display', 'none');	
		$('#button-add').css('display', 'block');
	}
	
	// opens a note
	function openNote(link, callback){
		var panel = $("#notes-content");
		
		$.get(link.href, function(html) {
			panel.html(html);
		});
		return false;
	}
	
	// deletes a note
	function deleteNote(link, id) {
		var answer = confirm ("Delete this note?")
		if(answer)
		{
			$.getJSON(link.href, function(data) {
				if (data.success) {
					$(id).css('display', 'none');
					$('#notes-content').html('');		
				}
				else {			
				}
			});
		}
		return false;
	}
	
	// creates a note
	$("#new_note").submit(function() {
	    
		var path = $("#new_note").attr("action");
		var params = $("#new_note").serialize();
		$.post(path, params, function(data) {
			if(data.success){
				$('#notes-listing-new').css('display', 'none');
				$('#note_title').val("");
				$.get('/notes/list', function(html) {
					$('#notes-listing-body').html(html);
					$('#button-add').css('display', 'block');
				});
			}
			else
			{
				
			}
		}, "json");
		return false;
    });

	
</script>