<div id="notes-listing">
	<div id="notes-listing-header">
	    <div id="button-cancel" style="display:none;">
			<a href="/notes/list/" onclick="return closeEditList(this);">
			  <img src="/images/cancel_button.gif" name="cancel_note" class="header-button-set"/>
			</a>
		</div>
		<div id="button-add">
			<a href="#" onclick="return openCreateNote();">
			  <img src="/images/add_button.gif" name="add_note" class="header-button-set"/>
			</a>
		</div>
		<div id="header-title">
			<span>Notes</span>
		</div>
		<div id="button-edit">
			<a href="/notes/table/" onclick="return openEditList(this);">
			  <img src="/images/edit_button.gif" name="edit_note" class="header-button-set"/>
			</a>
		</div>
		<div id="button-save" style="display:none;">
			<a href="#" onclick="return saveList();">
			  <img src="/images/save_button.gif" name="save_note" class="header-button-set"/>
			</a>
		</div>
	</div>
	
	<div id="notes-listing-body">
	    <%= render :partial => "list" %>		
	</div>
	
	<div id="notes-listing-new" style="display:none;">
	    <!--
		<ul id="notes-listing-new-list">
		  <li id="notes-listing-new-list-item" class="notes-listing-new-list-items">
		  </li>
		</ul>
		-->
		<% semantic_form_for @note do |form| %>
			<a href="#" onclick="return closeCreateNote();">
				<img src="/images/close_button.gif" name="close_new_note" />
			</a>
			<%= form.input :title, :required => false %>
			<% form.buttons do %>
			  <%= form.commit_button :label => " " %>
			<% end %>
		<% end %>
	</div>
	
</div>


<div id="notes-editor">
	<div id="notes-content">
	</div>
</div>

<script type="text/javascript">
	
    // opens the Create Note panel
    function openCreateNote(){
	    $('#notes-listing-new').css('display', 'block');
		$('#button-add').css('visibility', 'hidden');
	}
	
	// closes the Create Note panel
	function closeCreateNote(){
	    $('#notes-listing-new').css('display', 'none');	
		$('#button-add').css('visibility', 'visible');
	}
	
	// opens the list as editable
	function openEditList(link, callback){
		$('#button-edit').css('display', 'none');
		$('#button-save').css('display', 'block');
		$('#button-add').css('display', 'none');
		$('#button-cancel').css('display', 'block');
		var panel = $("#notes-listing-body");
		
		$.get(link.href, function(html) {
			panel.html(html);
		});
		return false;

	}
	
	// closes the list as editable
	function closeEditList(link, callback){
		$('#button-edit').css('display', 'block');
		$('#button-save').css('display', 'none');
		$('#button-add').css('display', 'block');
		$('#button-cancel').css('display', 'none');
		var panel = $("#notes-listing-body");
		
		$.get(link.href, function(html) {
			panel.html(html);
		});
		return false;
	}
	
	// opens a note
	function openNote(link, callback){
		var panel = $("#notes-content");
		
		$.get(link.href, function(html) {
			panel.html(html);
		});
		return false;
	}
	
	// deletes a note
	function deleteNote(link, id) {
		var answer = confirm ("Delete this note?")
		if(answer)
		{
			$.getJSON(link.href, function(data) {
				if (data.success) {
					$(id).css('display', 'none');
					$('#notes-content').html('');		
				}
				else {			
				}
			});
		}
		return false;
	}
	
	// creates a note
	$("#new_note").submit(function() {
	    
		var path = $("#new_note").attr("action");
		var params = $("#new_note").serialize();
		$.post(path, params, function(data) {
			if(data.success){
				$('#notes-listing-new').css('display', 'none');
				$('#note_title').val("");
				$.get('/notes/list', function(html) {
					$('#notes-listing-body').html(html);
					$('#button-add').css('visibility', 'visible');
				});
			}
			else
			{
				
			}
		}, "json");
		return false;
    });

	
</script>