body { background-color: #000; color: #333; margin: 0px; padding: 0px;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:active, a:focus { outline:none; }
a:link img, a:visited img, a:hover img, a:active img { border-width: 0px; } 
a { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#notes-listing {
  width: 283px;
  height: 768px;
  position: relative;
  float: left;
  background: url('../images/notes_listing.gif') no-repeat;
  margin: 0px;
}

#notes-editor{
  width: 741px;
  height: 768px;
  position: relative;
  float: left;
  background: #5e5e5e url('../images/notes_editor.gif') no-repeat;
}

#notes-content{
  width: 100%;
  position: relative;
}

#notes-listing-header {
  border-bottom: 1px solid #1c1c1c;
  height: 54px;
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
}

#button-add {
  height: 54px;
  width: 33.3%;
  position: relative;
  float: left;
  text-align: left;
  margin-top: 13px;
  margin-bottom: -13px;
}

#header-title {
  height: 54px;
  position: relative;
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 30px;
  margin-top: 13px;
  margin-bottom: -13px;
  font-effect: engraved;
}

#button-edit {
  height: 54px;
  width: 33.3%;
  position: relative;
  float: right;
  text-align: right;
  margin-top: 13px;
  margin-bottom: -13px;
}

.header-button-set{
  padding-left: 6px;
  padding-right: 6px;
}

#notes-listing-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.notes-listing-list-items {
  font-family: Tahoma, Arial, Verdana, Helvetica;
  list-style: none;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #1c1c1c;
  border-right: 2px solid #4A4A4A;
  height: 54px;
  margin: 0px;
  padding: 0px;
}

.notes-listing-list-items-selected {
  font-family: Tahoma, Arial, Verdana, Helvetica;
  list-style: none;
  border-bottom: 1px solid #1c1c1c;
  border-top: 1px solid #c5c5c5;
  border-right: 2px solid #4A4A4A;
  height: 54px;
  margin: 0px;
  padding: 0px;
  background: transparent url('../images/item_selected.gif') repeat-x;
}

.edit-notes-listing-items {
  font-family: Tahoma, Arial, Verdana, Helvetica;
  list-style: none;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #1c1c1c;
  border-right: 2px solid #4A4A4A;
  height: 54px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.notes-listing-list-items-div {
  margin-top: 9px;
}

.notes-listing-list-items-title {
  font-size: 14px;
  font-weight: bold;
  font-effect: engraved;
  color: #cccccc;
  margin-left: 10px;
}

.notes-listing-list-items-date {
  font-size: 10px;
  font-weight: bold;
  color: #999999;
  margin-left: 10px;
  font-effect: engraved;
}

#notes-listing-new {
  border-top: 1px solid #717171;
  border-bottom: 1px solid #1c1c1c;
  border-right: 2px solid #4A4A4A;
  height: 54px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#notes-listing-new-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.notes-listing-new-list-items {
  font-family: Tahoma, Arial, Verdana, Helvetica;
  list-style: none;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #1c1c1c;
  border-right: 2px solid #4A4A4A;
  height: 54px;
  margin: 0px;
  padding: 0px;
}

#note-editor-title {
  height: 54px;
  position: relative;
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 30px;
  margin-top: 13px;
  margin-bottom: -13px;
  font-effect: engraved;
  font-size: 15px;
  font-weight: bold;
  color: #4C1200;
  width: 741px;
}

#note-editor-toolbar {
  height: 54px;
  position: relative;
  float: left;
  width: 741px;
}

#note-editor-date-time {
  height: 32px;
  position: relative;
  float: left;
  width: 741px;
  font-effect: engraved;
  font-size: 11px;
  font-weight: bold;
  color: #999999;
}

#date-created {
  float: left;
  text-align: left;
  margin-left: 15px;
}

#time-created {
  float: right;
  text-align: right;
  margin-right: 25px;
}

#note-editor-editor {
  margin-top: 2px;
  height: 570px;
  position: relative;
  float: left;
  width: 741px;
  margin-left: 8px;
  background-color: transparent;
}


#note-editor-delete {
  position: relative;
  margin-top: 10px;
  margin-left: 1px;
  float: left;
  width: 741px;
  height: 47px;
  text-align: center;
  background: transparent url('../images/note_editor_delete.gif') no-repeat;
}

#delete-this-note-button {
  margin-top: 3px;
}

#note_submit {
  background: transparent url('../images/save_button.gif') no-repeat;
  width: 62px;
  height: 28px;
  border: 0px;
}

#note_title_input {
  /*width: 170px;*/
}

label {
  display: none;
}

input[type=text] {
  margin: 0px;
  width: 170px;
  height: 28px;
  border: 1px solid #1c1c1c; 
}

.edit-notes-listing-items input[type=text] {
  width: 200px;
  height: 28px;
  border: 1px solid #1c1c1c;
  margin: 0px;
}

.edit-notes-listing-items form{
  margin-top: 7px;
}

#note-editor-editor form {
  margin-top: 7px;
}

textarea {
  width: 721px;
}